@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Overpass", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    sans-serif;
  --font-mono:
    "Overpass Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 font-sans antialiased;
  }
}
